* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #111111;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
}

i {
  cursor: pointer;
  transition: 0.3s;
}
i:hover {
  color: #fb6d68;
}

html {
  min-height: 100vh;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./album-cover/01.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(60px);
  opacity: 0.4;
}

.player {
  width: 760px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 77px;
}
.player .album__cover {
  position: absolute;
  top: -107px;
  width: 300px;
  height: 270px;
  border-radius: 16px;
  background: url("./album-cover/01.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.player .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.player .song {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 195px;
}
.player .song__name {
  font-size: 2.625rem;
  margin-bottom: -2px;
}
.player .song__singer {
  font-size: 1.125rem;
}
.player .time {
  width: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .time__current, .player .time__total {
  font-size: 0.875rem;
}
.player .time__bar-total {
  position: relative;
  height: 12px;
  width: 608px;
  background-color: #ccc;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
}
.player .time__bar-total .time__bar-current {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12px;
  width: 0%;
  background-color: #fb6d68;
  z-index: 1;
  border-radius: 5px;
}
.player .controls {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}
.player .controls__play {
  font-size: 2.625rem;
}
.player .controls__random, .player .controls__step-backward, .player .controls__step-forward, .player .controls__repeat {
  font-size: 1.625rem;
}
.player .controls .loop-open i {
  color: #fb6d68;
}
.player .controls .random-open i {
  color: #fb6d68;
}

.list {
  transition: all 0.5s ease-in-out;
}
.list .menu__button {
  position: absolute;
  font-size: 1.625rem;
  top: 25px;
  left: 25px;
}
.list .list-close {
  display: none;
}
.list .list-open {
  animation: fade-in 0.5s forwards;
  position: relative;
  margin-right: 90px;
  display: block;
  overflow: scroll;
  width: 380px;
  height: 557px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.list .list-open .play__list-items {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.list .list-open .play__list-items:first-child {
  margin-top: 30px;
}
.list .list-open .play__list-items .album__cover {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.list .list-open .play__list-items .song {
  flex: 6;
}
.list .list-open .play__list-items .song__name {
  font-size: 1.2rem;
}
.list .list-open .play__list-items .song__singer {
  font-size: 0.9rem;
}
.list .list-open .play__list-items .time__total {
  margin-left: 20px;
  font-size: 0.875rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  html {
    position: relative;
  }
  body {
    flex-direction: column-reverse;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .player .container {
    width: 50%;
    height: 100%;
  }
  .player .album__cover {
    top: 53.5px;
    width: 200px;
    height: 180px;
  }
  .player .song {
    margin-top: 248.5px;
  }
  .player .song__name {
    font-size: 1.75rem;
  }
  .player .song__singer {
    font-size: 0.75rem;
  }
  .player .controls__play {
    font-size: 1.75rem;
  }
  .player .controls__random, .player .controls__step-backward, .player .controls__step-forward, .player .controls__repeat {
    font-size: 1.083rem;
  }
  .player .time__current, .player .time__total {
    font-size: 0.1rem;
  }
  .player .time__bar-total {
    height: 6px;
    width: 37.5%;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
  }
  .player .time__bar-total .time__bar-current {
    height: 6px;
  }
  .list .list-open {
    margin-right: 0;
    height: 228px;
  }
}/*# sourceMappingURL=style.css.map */